@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background-color: #F2F2F2;
    --background-color-2: #E9E9E9;
    --primary-color: #9DA3B6;
    --brand-color: #EC3236;
    --secondary-color: #0E1733;
    --secondary-color-hover: #21346b;
}

html {
    font-size: 18px;
    scroll-behavior: smooth;
}

* {
    font-family: "Rubik", sans-serif;
    line-height: 1.6;

}

p {
    font-size: 1rem;
    text-indent: 1rem;
}

h1 {
    font-size: 3.81rem;
    text-align: center;
    padding: auto;

}

h2 {
    font-size: 3rem;
    text-align: center;
}

h3 {
    font-size: 2.44rem;
    font-weight: 100;
}

h4 {
    font-size: 1.95rem;

}

h5 {
    font-size: 1.56rem;
    margin-bottom: 8px;

}



footer h5 {
    margin: 1.4rem;
    text-align: center;
}

h6 {
    font-size: 1.25rem;
    margin: auto;

}

.card h6 {
    text-align: center;
}



body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

header {
    background-color: var(--secondary-color);
    position: sticky;
    width: auto;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

    padding: 8px 24px;
}

#logo {
    height: 40px;
}

#logo_img {
    width: 120px;
    height: 40px;
}

#nav-itens {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 3rem;

}

#nav-itens a {
    color: #F2F2F2;
    font-size: 1rem;
    text-decoration: none;


}

#nav-itens a:hover {
    font-weight: 600;

}

#nav-itens a.active {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 8px;
    text-decoration-color: var(--brand-color);

}

#nav-itens a:active {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 8px;
    text-decoration-color: var(--brand-color);

}

.hero {
    min-height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("res/foto-background.jpg");
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #F2F2F2;

}

.hero h5 {
    text-align: center;
}

.content-hero {
    min-height: 30vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("res/foto-background.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #F2F2F2;
}


.img_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.front-image {
    min-width: 40vw;
    max-width: 70vw;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
    justify-content: center;

}

.content {
    justify-content: center;
    align-items: center;
    padding: 5%;
    width: 90%;

}

.two-column {
    display: inline-grid;
    gap: 1rem 5rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-flow: dense;

}

.content:nth-child(odd) {
    background-color: var(--background-color-2);
}


.text hr {
    color: var(--brand-color);
    width: 70%;
    border: 1px solid;
    margin: 0;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.5;
}



.hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
}



.contato {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
    padding: 1em;
    margin: 0 20%;
    border-radius: 2em;
    background-color: #e0e0e0;
}


.form {
    display: flex;
    flex-direction: column;
}

.form label {
    font-size: 1rem;
}

.form input,
.form textarea {
    background-color: #c0c0c0;
    padding: 8px;
    margin-bottom: 16px;
    margin-top: 8px;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
}

.form input::placeholder {
    color: black;
}

.form textarea {
    resize: vertical;

}



.btn {
    background-color: var(--secondary-color);
    color: #F2F2F2;
    font-weight: bold;
    margin-top: 16px;
    padding: 8px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.btn:hover {
    background-color: var(--secondary-color-hover);

}

.btn_2 {
    background-color: #CACACA;
    margin-top: 16px;
    padding: 8px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    width: 40%;
}

.btn_2:hover {
    background-color: #bbbbbb;

}


footer {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #F2F2F2;
}


footer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


footer a {
    text-decoration: none;
    font-weight: 600;
    color: #F2F2F2;

}

footer a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;

}

footer a:first-child i {
    margin: 0.4em;
    color: #F2F2F2
}


footer i:last-of-type {
    margin: 0.4em;
    color: #25D366
}


.topicos li {
    list-style-type: none;
    margin: 0.8rem 0;
}

.isos li:before {
    content: '\2713';
    font-weight: 900;
    display: inline-block;
    padding: 0 6px 0 0;
}

.isos li {

    font-size: 1em;
    margin: auto;
}

.ham {
    visibility: hidden;
    z-index: 1;
}

@media only screen and (max-width: 850px) {
    footer {
        flex-direction: column;
    }
}

@media only screen and (max-width: 713px) {

    .text {
        order: 1;
    }
}


@media only screen and (max-width: 750px) {

    html {
        font-size: 14px;
    }

    h1 {
        font-size: 2.5rem;
    }

    h5 {
        font-size: 1.4rem;
    }

    .hero {
        min-height: 60vh;
        background-attachment: scroll;

    }

    .content {
        padding: 10% 5%;
    }

    .content h3 {
        margin-bottom: 1rem;
    }




    #nav-itens {
        flex-direction: column;
        justify-content: flex-start;
        position: fixed;
        inset: 0 0 0 30%;
        padding: min(30vh, 10rem) 2rem;
        background-color: #0e1733f5;
        filter: blur(70%);
        gap: 2rem;
    }

    .ham {
        visibility: visible;
        background: none;
        border: none;
        font-size: 21px;
        z-index: 1;
    }

    #ham-icon {
        color: #e0e0e0;
    }

    .show-menu {
        visibility: visible;
    }

    .hide-menu {
        visibility: hidden;
    }

    #nav-itens a {
        font-size: 1.6rem;
    }

    .contato {
        margin: 0;
        background: none;
    }

}

@media only screen and (max-width: 500px) {

    footer div {
        font-size: 0;
        flex-direction: row;
    }

    footer a i {
        font-size: 21px;
    }
}